<h2><%=@vendor_of_interest.name%></h2>

<h3>Products</h3>

<%@vendor_of_interest.product_ids.each do |product_id|%>
  <%product = Product.find(product_id)%>
  <%=product.name%><p></p>

  <p class="delete-button"><%= button_to "Delete", product_path(product_id),
        method: :delete, data: { confirm: "Are you sure?" } %></p>

  <p class="edit-button"><%= button_to "Edit", { action: "edit", id: product_id },

                                                        method: :get %></p>

  <%end%>

<h2><%= link_to("Add New Product", new_vendor_products_path(@vendor_of_interest)) %></h2>

<h3>Total Sales</h3>
<%total_sales = 0 %>
<%@vendor_of_interest.sale_ids.each do |sale_id|%>
  <%sale = Sale.find(sale_id)%>
  <%total_sales += sale.amount%>
  <%end%>

<%="$#{total_sales/100.0}"%>

<h2><%= link_to("Enter New Sale", new_vendor_sales_path(@vendor_of_interest)) %></h2>

<p class="delete-button"><%= button_to "Delete Vendor", {action: "destroy", id: @vendor_of_interest,,  ,                       [:id] }, method: :delete, data: { confirm: "Are you sure?"} %></p>





<!-- <p>Find me in app/views/vendors/show.html.erb</p> -->
