<h2>Hello, <%=@vendor_of_interest.name%>!</h2>

<h3>Products</h3>

<%@vendor_of_interest.product_ids.each do |product_id|%>
  <%product = Product.find(product_id)%>
  <%=product.name%><p></p>

  <p class="delete-button"><%= button_to "Delete", product_destroy_path { action: "destroy_product", id: product_id.id }, method: :destroy_product, data: { confirm: "Are you sure?" } %></p>

<p class="edit-button"><%= button_to "Edit", { action: "edit", id: product_id.id },

                                                        method: :get %></p>
  <%end%>

<h2><%= link_to("Add New Product", product_new_path) %></h2>

<h3>Total Sales</h3>
<%total_sales = 0 %>
<%@vendor_of_interest.sale_ids.each do |sale_id|%>
  <%sale = Sale.find(sale_id)%>
  <%total_sales += sale.amount%>
  <%end%>

<%="$#{total_sales/100.0}"%>


<h2><%= link_to("Enter New Sale", sale_new_path) %></h2>




<!-- <p>Find me in app/views/vendors/show.html.erb</p> -->
