

<div id="market-show">

  <section class="market-info">
    <h1><%= @market.name %></h1>
    <p><%= @market.address %>
    <%= @market.city %>, <%= @market.state %>
    <%= @market.county %> County
    <%= @market.zip %></p>
    <%= button_to "Edit", {action: "edit", id: @market[:id] }, method: :get %>
    <%= button_to "Delete This Market", {action: "destroy", id: @market[:id] }, method: :delete, data: { confirm: "Do you really want to delete this market?"} %>

    <%=image_tag("mel_farming.jpg", id:"market-show-photo")%>
  </section>

  <section class="vendors-list">
  <h2>Vendors at this Market</h2>

    <%= button_to 'Add a Vendor', new_market_vendor_path(@market), method: :get %>

    <%@vendor.each do |vendor| %>
      <ul>
        <li><%= link_to( vendor.name,  vendor_path(vendor[:id])) %></li>
        <li><%= button_to "✗", {controller: "vendors", action: "destroy", id: vendor[:id] }, method: :delete, data: { confirm: "Are you sure?"} %></li>
      </ul>

      <p></p>
    <% end %>
  </section>

</div>
