<h1>Enter a New Sale</h1>

<div class="form-new">
<%= form_for ([:vendor, @sale]) do |f| %>

    <%= f.label :amount %>
    <%= f.text_field :amount%>
    <p></p>
    <%= f.label :purchase %> time
    <%= f.text_field :purchase%>
    <p></p>
    <%= f.label :product_id %>
    <%= f.select :product_id, @vendor.product_ids%>
    <p></p>

    <%= f.submit %>
  <%end%>
</div>
