<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
</head>

<body>

<header>
  <h1 class="all-page-header"><%= link_to("Farmers Markets", root_path)%></h1>
  <hr>
</header>
<%= yield %>
<hr>

<footer>
<p>
  &copy Erin & Olivia
</p>

</footer>

</body>


</html>
